---
---


// Full screen app
html, body, .off-canvas-wrap, .inner-wrap  {
    height: 100%;
}
body {
    section a {
        color: #de2d0f;
    }
    footer a {
        color: white;
    }
}
div.subheader {
    margin: 0px;
}

.accordion-navigation blockquote {
    margin-bottom: 0px;
}

.subheader {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#identity h5 {
    display: inline;
}


#languages .progress .meter {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 13px;

    &.hide {
        display: none;
    }
}

#others i, #identity i {
    margin-right: 3px;
}

.list-fa {
    list-style: none;
}
