{% assign experience = site.data.experience %}

<section id="experience" class="panel radius row">
    <dl class="accordion" data-accordion>
    
    {% for company in experience %}
        <dd class="accordion-navigation">
            <a href="#company-{{ company.slug }}" class="row">
                <div class="column large-6 medium-6"> 
                     {{ company.contract }} {{ company.job }}
                </div>
                <div class="column large-6 medium-6">
                    <span class="text-right show-for-medium-up">
                        {{ company.company }}
                       <span class="label">{{ company.city }}</span>
                    </span>
                    <span class="text-left subheader show-for-small-only">
                        {{ company.company }}
                        <span class="label">{{ company.city }}</span>
                    </span>
                </div>
            </a>
            <div id="company-{{ company.slug }}" class="row content">
                {{ company.description }}
            </div>
        </dd>
    {% endfor %}


    </dl>
</section>
