<section id="experience" class="panel radius row">
    <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
            <a href="#company1">Yupeek</a>
            <div id="company1" class="content">
                HUM..
            </div>
        </dd>
        <dd class="accordion-navigation">
            <a href="#company2">DAELI</a>
            <div id="company2" class="content">
                HUM..
            </div>
        </dd>
        <dd class="accordion-navigation">
            <a href="#company3">FindSpire</a>
            <div id="company3" class="content">
                HUM..
            </div>
        </dd>

    </dl>
</section>
