{% assign experience = site.data.experience %}

<section id="experience" class="panel radius row">
    <dl class="accordion" data-accordion>
    
    {% for company in experience %}
        <dd class="accordion-navigation">
            <a href="#company-{{ company.slug }}" class="clearfix">
                <span class="left">
                    {{ company.contract }} {{ company.job }}
                </span>
                <span class="right">
                    {{ company.company }} 
                    <span class="label">{{ company.city }}</span>
                </span>
            </a>
            <div id="company-{{ company.slug }}" class="content">
                {{ company.description }}
            </div>
        </dd>
    {% endfor %}


    </dl>
</section>
