{% assign profile = site.data.profile %}

<section id="picture" class="show-for-small-only show-for-portrait">
    <img src="{{ profile.picture }}" /> 
</section>

<section id="identity" class="panel radius row">
    <div class="column large-9 medium-9 small-9">
        <h1>{{ profile.name }}</h1>
        <h5 class="subheader">{{ profile.email }}<h5>
        <h5 class="subheader">{{ profile.tel }}</h5>
    </div>
    <div class="column large-3 medium-3 small-3 show-for-medium-up show-for-landscape">
        <img src="{{ profile.picture }}" /> 
    </div>
</section>
