{% assign scolarity = site.data.scolarity %}

<section id="scolarity" class="panel radius row">
    <dl class="accordion" data-accordion>

    {% for school in scolarity %}
        <dd class="accordion-navigation">
            <a href="#school-{{ school.slug }}" class="row">
                <div class="show-for-landscape">
                    <div class="column large-6 medium-6 small-6">
                        {{ school.diploma }} {{ school.name }}
                    </div>
                    <div class="column large-6 medium-6 small-6 text-right">
                        {{ school.school }}
                        <span class="label alert">{{ school.city }}</span>
                    </div>
                </div>
                <div class="show-for-portrait">
                    <div class="column large-6 medium-6">
                        {{ school.diploma }} {{ school.name }}
                    </div>
                    <div class="column large-6 medium-6 text-right show-for-medium-up">
                        {{ school.school }}
                        <span class="label alert">{{ school.city }}</span>
                    </div>
                    <div class="column large-6 medium-6 text-left subheader show-for-small-only">
                        {{ school.school }}
                        <span class="label alert">{{ school.city }}</span>
                    </div>
                </div>
            </a>
            <div id="school-{{ school.slug }}" class="row content">
                <blockquote>
                    {{ school.description }}
                    <cite>{{ school.debut }} - {{ school.fin }} </cite>
                </blockquote>
            </div>
        </dd>
    {% endfor %}

    </dl>
</section>
