{% assign scolarity = site.data.scolarity %}

<section id="scolarity" class="panel radius row">
    <dl class="accordion" data-accordion>
        
    {% for school in scolarity %}
        <dd class="accordion-navigation">
            <a href="#school-{{ school.slug }}" class="row">
                <div class="column large-6 medium-6"> 
                    {{ school.diploma }} {{ school.name }}
                </div>
                <div class="column large-6 medium-6">
                    <span class="text-right show-for-medium-up">
                        {{ school.school }} 
                        <span class="label">{{ school.city }}</span>
                    </span>
                    <span class="text-left subheader show-for-small-only">
                        {{ school.school }} 
                        <span class="label">{{ school.city }}</span>
                    </span>
                </div>
            </a>
            <div id="school-{{ school.slug }}" class="row content">
                {{ school.description }}
            </div>
        </dd>
    {% endfor %}

    </dl>
</section>
